<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="title" content="<%= data.title %>">
  <meta name="description" content="<%= data.description %>">
  <meta name="format-detection" content="telephone=no">
  <meta property="og:title" content="<%= data.title %>">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= data.url %>">
  <meta property="og:site_name" content="">
  <meta property="og:image" content="">
  <meta property="og:description" content="<%= data.description %>">
  <title><%= data.title %></title>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700|Roboto:700&display=swap" rel="stylesheet">
  <link href="<%- data.path %>assets/css/app.css" rel="stylesheet">
</head>
<body>
